In [1]:
import pandas as pd
import seaborn as sb
from  sklearn.linear_model import LogisticRegression as lr

In [2]:
cd = pd.read_csv("D:/DS Files/DS Assingments/Excel Data Sheets/claimants.csv")

In [3]:
cd.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [4]:
cd.drop(['CASENUM'],inplace=True,axis=1)

In [5]:
cd.isna().sum()

ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [6]:
cd = cd.dropna()

In [7]:
cd.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [8]:
model = lr()

## DIVIDING OUR DATA INTO INPUT AND OUTPUT VARIABLES

In [9]:
x= cd.iloc[:,1:]
y = cd.iloc[:,0]

In [10]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1096 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1096 non-null   int64
 1   CLMSEX    1096 non-null   float64
 2   CLMINSUR  1096 non-null   float64
 3   SEATBELT  1096 non-null   float64
 4   CLMAGE    1096 non-null   float64
 5   LOSS      1096 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 59.9 KB

## BUILDING THE MODEL

In [11]:
model.fit(x,y)

LogisticRegression()

In [12]:
import statsmodels.formula.api as sm
logit_model = sm.logit('ATTORNEY~CLMSEX+CLMINSUR+SEATBELT+CLMAGE+LOSS',data = cd).fit()

Optimization terminated successfully.
         Current function value: 0.587523
         Iterations 8

In [13]:
y_pred = model.predict(x)
print(y_pred[0:5])
cd.head()

[0 1 1 0 1]

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [14]:
y_pred_prob = model.predict_proba(x)
y_pred_prob[:,1]

array([3.04621690e-06, 5.07148875e-01, 5.75166843e-01, ...,
       7.39028665e-01, 2.85940593e-01, 6.80431213e-01])

In [15]:
cd_df = pd.DataFrame({'Actual':y,'Predicted': y_pred,'Y_pred_prob[0]':y_pred_prob[:,0],'y_pred_prob[1]':y_pred_prob[:,1]})

In [16]:
cd_df.head()

   Actual  Predicted  Y_pred_prob[0]  y_pred_prob[1]
0       0          0        0.999997        0.000003
1       1          1        0.492851        0.507149
2       1          1        0.424833        0.575167
3       0          0        0.502210        0.497790
4       1          1        0.359246        0.640754

In [17]:
cm = pd.crosstab(cd_df.Actual,cd_df.Predicted)
cm

Predicted    0    1
Actual
0          381  197
1          123  395

In [21]:
cd_df.Predicted.value_counts()

1    592
0    504
Name: Predicted, dtype: int64

In [24]:
from sklearn.metrics import confusion_matrix as cm
from sklearn.metrics import accuracy_score as ac

In [29]:
cd_cm = cm(cd_df.Actual,cd_df.Predicted)
cd_ac = ac(cd_df.Actual,cd_df.Predicted)
print(cd_cm,cd_ac)

[[381 197]
 [123 395]] 0.708029197080292

In [30]:
max(cd.ATTORNEY.value_counts())/len(cd.ATTORNEY)

0.5273722627737226

## CLASSIFCATION REPORT

In [33]:
from sklearn.metrics import classification_report as cr
print(cr(cd_df.Actual,cd_df.Predicted))

              precision    recall  f1-score   support

           0       0.76      0.66      0.70       578
           1       0.67      0.76      0.71       518

    accuracy                           0.71      1096
   macro avg       0.71      0.71      0.71      1096
weighted avg       0.71      0.71      0.71      1096