In [3]:
import pandas as pd
import numpy as np
rd = pd.read_csv("D:\DS Files\DS Assingments\Excel Data Sheets\data_clean.csv")

In [4]:
rd.head()

   Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0           1   41.0    190.0   7.4     67     5    1  2010    67       S
1           2   36.0    118.0   8.0     72     5    2  2010    72       C
2           3   12.0    149.0  12.6     74     5    3  2010    74      PS
3           4   18.0    313.0  11.5     62     5    4  2010    62       S
4           5    NaN      NaN  14.3     56     5    5  2010    56       S

In [6]:
rd.Ozone.describe()

count    120.000000
mean      41.583333
std       32.620709
min        1.000000
25%       18.000000
50%       30.500000
75%       61.500000
max      168.000000
Name: Ozone, dtype: float64

In [7]:
# calc the Upper Fence

q1 = 18
q3 = 61
iqr = q3 - q1
UF = q3 + 1.5 * iqr
UF

125.5

In [9]:
out = rd(rd.Ozone>UF]
out

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
61           62  135.0    269.0   4.1     84     7    1  2010    84       S
116         117  168.0    238.0   3.4     81     8   25  2010    81      PS