In [39]:
import pandas as pd
import numpy as np
import scipy.stats as ss

In [40]:
ct = pd.read_csv("D:/DS Files/DS Assingments/Assignments/ASSIGNMENTS EXCEL SHEETS/cutlets.csv")

In [41]:
ct.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [42]:
ct = ct.rename({'Unit A':'Unit1','Unit B':'Unit2'},axis=1)

In [44]:
ct.head()

    Unit1   Unit2
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [48]:
ct_1 = ss.ttest_ind(ct.Unit1,ct.Unit2)

## Here the Alpha is more than 0.05 so it no action condition

In [50]:
ct_1

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)