# Chapter_01 - Getting & Knowing Your Data

In [1]:
import pandas as pd

## 1. Read file

In [2]:
item_data = pd.read_csv('D:/DS Files/DS Assingments/Exercise Excel Sheets/data.tsv.txt',sep='\t')
item_data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
item_data.head(20)

In [ ]:
item_data.tail(30)

In [ ]:
item_data.info()

## Point to remember

* Python Datatypes - int,float,str

* Pandas datatypes - int32/int64,float32/float64,object,datetime64.

In [ ]:
#Rows - observations, records
#Columns - parameters, features

In [ ]:
item_data.shape

In [ ]:
item_data.shape[1]

In [ ]:
#Attribute - it will never endup with ().
#Methods/Functions - it will endup with ().

In [ ]:
#Print the Total no of rows and total number of columns.
print("Total no of observations is {} and total number of parameters is {}.".format(item_data.shape[0],item_data.shape[1]))

## 2. To get the column names

In [ ]:
item_data.columns

## 3. Which was the most ordered item?

In [ ]:
item_data['item_name'].unique()

In [ ]:
item_data['item_name'].nunique()

In [ ]:
item_data.item_name.unique()

In [ ]:
item_data[['item_name','quantity','choice_description']]

In [ ]:
most_ordered_item = item_data.groupby('item_name').sum()
most_ordered_item.sort_values(by='quantity',ascending=False).head(1)

## 4. Which was the most ordered item in the choice description?

In [ ]:
most_ordered_item = item_data.groupby('choice_description').sum()
most_ordered_item = most_ordered_item.sort_values(by='quantity',ascending=False).head(1)
most_ordered_item = most_ordered_item['quantity']
most_ordered_item

## 5. How many total items were ordered?

In [ ]:
item_data['quantity'].sum()

## 6. How many different items were ordered and its count?

In [ ]:
item_data['item_name'].value_counts()

## -----------------------------------------------------------------------------------------------------------

## Chapter 1[b]

In [3]:
import pandas as pd

In [4]:
user_data = pd.read_csv('D:/DS Files/DS Assingments/Exercise Excel Sheets/u.user',sep = '|')
user_data.head(50)

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107
25       26   49      M       engineer    21044
26       27   40      F      librarian    30030
27       28   32      M         writer    55369
28       29   41      M     programmer    94043
29       30    7      M        student    55436
30       31   24      M         artist    10003
31       32   28      F        student    78741
32       33   23      M        student    27510
33       34   38      F  administrator    42141
34       35   20      F      homemaker    42459
35       36   19      F        student    93117
36       37   23      M        student    55105
37       38   28      F          other    54467
38       39   41      M  entertainment    01040
39       40   38      M      scientist    27514
40       41   33      M       engineer    80525
41       42   30      M  administrator    17870
42       43   29      F      librarian    20854
43       44   26      M     technician    46260
44       45   29      M     programmer    50233
45       46   27      F      marketing    46538
46       47   53      M      marketing    07102
47       48   45      M  administrator    12550
48       49   23      F        student    76111
49       50   21      M         writer    52245

In [ ]:
user_data.shape

In [ ]:
user_data.info()

## 1. Complete summary

In [ ]:
user_data.describe(include='all')

In [ ]:
user_data.isnull().sum()

## 2. How many different occupations is available in my dataset?

In [ ]:
user_data.occupation.nunique()

## 3. What is the most frequent occupation?

In [ ]:
user_data.occupation.value_counts().head(1)

## 4. What are the least occurences in age?

In [ ]:
user_data.age.value_counts(ascending=False).tail() #Age 7,10,11,66 and 73 has been occured very less in the dataset.

## 5. What are the age with most occurences?

In [ ]:
user_data["age"].value_counts().head()

## ----------------------------------------------------------------------------------------------

# Chapter_02 - Filtering & Sorting

In [5]:
euro_2012_data = pd.read_csv('D:/DS Files/DS Assingments/Exercise Excel Sheets/Euro_2012_stats_TEAM.csv')
euro_2012_data
# A team stats/performance in eurocup 2012 football match.

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [ ]:
pd.set_option('max_rows',None)

In [ ]:
euro_2012_data.head(10)

In [ ]:
euro_2012_data.info()

## 1. How many teams participated in the euro_worldcup_2012?

In [ ]:
euro_2012_data.Team.nunique()

## 2. View my dataset with teams, Yellow cards and redcards

In [ ]:
team_yellow_red_card = euro_2012_data[['Team','Yellow Cards','Red Cards']]
team_yellow_red_card

## 3. Sort the team by red card

In [ ]:
team_yellow_red_card.sort_values(by='Red Cards',ascending=False)

## 4. On an average, a team is getting how many yellow cards?

In [ ]:
round(team_yellow_red_card['Yellow Cards'].mean())

#round(5.567)

## 5. Filter the team who scored more than 8 goals.

In [ ]:
euro_2012_data[euro_2012_data.Goals > 8]

## 6. Get the team names starting with a letter 's'.

In [ ]:
euro_2012_data[euro_2012_data.Team.str.startswith('S')]

## 7. Get the first 7 records of first 5 columns.

In [ ]:
euro_2012_data.head(7)

In [ ]:
#Index locator - rows and columns
euro_2012_data.iloc[0:8,0:6]

In [ ]:
euro_2012_data.iloc[2:8,1:8]

In [ ]:
#enumerate - will return 2 values - column index and your column name
for index_no,column_name in enumerate(euro_2012_data):
    print(index_no, column_name)

In [ ]:
anbc = euro_2012_data[['Yellow Cards','Red Cards','Shooting Accuracy']]

In [ ]:
euro_2012_data.iloc[:,30:32]

In [ ]:
#loc 
euro_2012_data.loc[:7,'Yellow Cards':'Red Cards']

## 8.Display the shooting accuracy of Denmark, France and Greece.

### 8.1 Filtering using set_index

In [ ]:
euro_2012_data.set_index('Team',inplace=True)

In [ ]:
euro_2012_data.shape

In [ ]:
euro_2012_data.loc[['Denmark','France','Greece'],['Shooting Accuracy']]

### 8.2 Without using set_index

In [ ]:
euro_2012_data

In [ ]:
euro_2012_data.loc[euro_2012_data.Team.isin(['Denmark','France','Greece']),['Shooting Accuracy']]

## ---------------------------------------------------------------------------------------------

## Chapter 2[b] - Filtering and Sorting

In [6]:
item_data = pd.read_csv('D:/DS Files/DS Assingments/Exercise Excel Sheets/data.tsv.txt',sep='\t')
item_data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## 1. Perform initial analysis on the dataset

In [ ]:
item_data.shape

In [ ]:
item_data.dtypes

In [ ]:
item_data.info()

In [ ]:
item_data.isnull().sum()

In [ ]:
item_data.describe(include='all')

## 2. Clean the item_price and make it ready for model training.

In [ ]:
item_data['cleaned_item_price'] = item_data['item_price'].str.replace('$','').astype(float)
item_data

In [ ]:
item_data.dtypes

In [ ]:
del item_data['item_price']

In [ ]:
item_data.head(50)

## 3. Get chicken salad bowl complete details.

In [ ]:
chicken_salad_details = item_data[item_data['item_name'] == 'Chicken Salad Bowl']
chicken_salad_details

In [ ]:
pd.set_option('max_rows',None)

In [ ]:
chicken_salad_details.shape

## 4. Select the item Chicken salad bowl where quantity is equal to 1.

In [ ]:
item_data[(item_data['item_name'] == 'Chicken Salad Bowl') & (item_data['quantity'] == 1)]

## 5. Display the items from most expensive to less expensive.

In [ ]:
item_price_details = item_data[['item_name','cleaned_item_price']]
item_price_details

In [ ]:
item_price_details.drop_duplicates(['item_name']).sort_values(by='cleaned_item_price',ascending=False)

## -----------------------------------------------------------------------------------------------------------------

# Chapter 3 - Grouping

In [8]:
drinks_data = pd.read_csv('D:/DS Files/DS Assingments/Exercise Excel Sheets/drinks.csv')
drinks_data.head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS

## 1. Perform Initial Analysis

In [ ]:
drinks_data.shape

In [ ]:
drinks_data.dtypes

In [ ]:
drinks_data.isnull().sum()

In [ ]:
drinks_data.describe(include='all')

In [ ]:
drinks_data.continent.nunique()

## 2. On average, which continent drinks more beer?

In [ ]:
round(drinks_data.groupby('continent')['beer_servings'].mean()).sort_values(ascending=False).head(1)

In [ ]:
drinks_data.groupby(['continent','country'])['beer_servings'].mean().sort_values(ascending=False).head(1)

## -------------------------------------------------------------------------------------------------------------------------

## Chapter 3[b]

In [9]:
user_data = pd.read_csv('D:/DS Files/DS Assingments/Exercise Excel Sheets/u.user',sep = '|')
user_data.head(50)

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107
25       26   49      M       engineer    21044
26       27   40      F      librarian    30030
27       28   32      M         writer    55369
28       29   41      M     programmer    94043
29       30    7      M        student    55436
30       31   24      M         artist    10003
31       32   28      F        student    78741
32       33   23      M        student    27510
33       34   38      F  administrator    42141
34       35   20      F      homemaker    42459
35       36   19      F        student    93117
36       37   23      M        student    55105
37       38   28      F          other    54467
38       39   41      M  entertainment    01040
39       40   38      M      scientist    27514
40       41   33      M       engineer    80525
41       42   30      M  administrator    17870
42       43   29      F      librarian    20854
43       44   26      M     technician    46260
44       45   29      M     programmer    50233
45       46   27      F      marketing    46538
46       47   53      M      marketing    07102
47       48   45      M  administrator    12550
48       49   23      F        student    76111
49       50   21      M         writer    52245

## 1. How many different occupation is available in this dataset?

In [ ]:
user_data.occupation.nunique()

## 2. Discover the mean age of each occupation.

In [ ]:
round(user_data.groupby(['occupation'])['age'].mean()).sort_values(ascending=False)

## 3. For each combination of occupation and gender, what's the average age?

In [ ]:
round(user_data.groupby(['occupation','gender'])['age'].mean()).sort_values(ascending=False)

## ----------------------------------------------------------------------------------------------------------------

# Chapter 4 - Apply

In [10]:
student_details = pd.read_csv('D:/DS Files/DS Assingments/Exercise Excel Sheets/student-mat.csv')
student_details.head(20)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10

In [ ]:
pd.set_option('max_columns',None)

In [ ]:
student_details.dtypes

In [ ]:
student_details.info()

In [ ]:
student_details.isnull().sum()

## 1. Filter the dataset from school till gaurdian.

In [ ]:
student_gaurdian_details = student_details.loc[:,'school':'guardian']
student_gaurdian_details.head(20)

## 2. Multiply the age with 2.

In [ ]:
student_gaurdian_details['age'] = student_gaurdian_details.age.apply(lambda x:x*2)

In [ ]:
student_gaurdian_details.head(20)

In [ ]:
len("hdfjhjfhajfha")

In [ ]:
def get_input(x): #userdefined function has a name - get_input
    print(x*2)
    
get_input(4)

## 3. Use lambda function and capitalize guardian and fjob.

In [ ]:
student_gaurdian_details['guardian'] = student_gaurdian_details.guardian.apply(lambda x:x.capitalize())
student_gaurdian_details['Fjob'] = student_gaurdian_details.Fjob.apply(lambda x:x.capitalize())

In [ ]:
student_gaurdian_details.head(20)

## 4. Create a function called 'major' that returns a boolean value to a new column 'legal drinker'. 

### Note: The age eligibility is 17.

In [ ]:
student_details['legal_drinker'] = student_details.age.apply(lambda x: x >= 17)
student_details

In [ ]:
def major(x):
    if x>17:
        return True
    else:
        return False
    
student_details['legal_drinkers'] = student_details.age.apply(major)

In [ ]:
student_details.head(20)

# -----------------------------------------------------------------------------------------------------------------

# Chapter_05 - Merge

In [ ]:
sales_2017_df = pd.read_csv('Sales Transactions-2017.csv')
sales_2018_df = pd.read_csv('Sales Transactions-2018.csv')
sales_2019_df = pd.read_csv('Sales Transactions-2019.csv')

In [ ]:
sales_2017_df.head()

In [ ]:
sales_2018_df.head()

In [ ]:
sales_2019_df.head()

In [ ]:
sales_2017_df.shape

In [ ]:
sales_2018_df.shape

In [ ]:
sales_2019_df.shape

## 1. Concatenate all 3 dataset into one dataframe.

In [ ]:
sales_full_data = pd.concat([sales_2017_df,sales_2018_df,sales_2019_df])
sales_full_data.head(200)

In [ ]:
sales_2017_df.append([sales_2018_df,sales_2019_df])

In [ ]:
sales_full_data.dtypes

In [ ]:
sales_full_data.isnull().sum()

In [ ]:
cleaned_data = pd.read_csv('Sales-Transactions-Edited.csv')
cleaned_data.head(200)

In [ ]:
pd.set_option('max_rows',None)

In [ ]:
cleaned_data.isnull().sum()

In [ ]:
cleaned_data.dtypes

### >>>>>>>>>>>Assignment for today<<<<<<<<<<<<<<

* Date           datetime64
* Voucher         int64
* Party          object
* Product        object
* Qty             int64
* Rate          float64

# ---------------------------------------------------------------------------------------------------------------

# Chapter_6 Deleting

In [ ]:
drinks_data = pd.read_csv('drinks.csv')
drinks_data.head(20)

In [ ]:
drinks_data.isnull().sum()

### 1st method

In [ ]:
del drinks_data['continent']

In [ ]:
drinks_data.head(20)

### 2nd method

In [ ]:
drinks_data.drop(labels = ['continent','country'], axis=1,inplace=True)

In [ ]:
drinks_data.head(20)

## ---------------------------------------------------------------------------------------------------------------------------------

## Chapter_7 Creating Series and DataFrames

In Pandas we have Series and DataFrame. 

* Series - 1D datastructure of Pandas, ie, 1row.

* DataFrame - 2D datastructure of Pandas, ie, row and column

In [ ]:
runs = pd.Series([12,34,45])
runs

In [ ]:
type(runs)

In [ ]:
learners_details = pd.DataFrame({'Fname': ['Manan','Kumar'],'Lname': ['Malhotra','Prince']})
learners_details

In [ ]:
type(learners_details)

# ---------------------------------------------------------------------------------------------------------------

## Chapter_12 - Grouping Vs Pivottable Vs Crosstab

In [11]:
insurance_data = pd.read_csv('D:/DS Files/DS Assingments/Exercise Excel Sheets/insurance.csv')
insurance_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Hint to apply groupby function in any dataset

In [ ]:
insurance_data.sex.unique()

In [ ]:
insurance_data.children.unique()

In [ ]:
insurance_data.region.unique()

In [ ]:
insurance_data.children.unique()

# ---------------------------------------------------------------------------------------------------------------

In [ ]:
insurance_data.shape

In [ ]:
insurance_data.isnull().sum()

In [ ]:
insurance_data.dtypes

## 1. Get the regionwise average insurance charges.

In [ ]:
round(insurance_data.groupby('region')['charges'].mean())

## 2. Get the region and sexwise average insurance charges.

In [ ]:
round(insurance_data.groupby(['region','children'])['charges'].mean())

## Understanding Pivot Table

In [12]:
region_wise_insurance_charges = insurance_data[['region','sex','charges','children']]
pd.pivot_table(region_wise_insurance_charges ,values='charges', index='children', columns='region', aggfunc='mean')

region       northeast     northwest     southeast     southwest
children
0         11626.462658  11324.370919  14309.868378  11938.504986
1         16310.206403  10230.256309  13687.041971  10406.484953
2         13615.152722  13464.314687  15728.470623  17483.485559
3         14409.913296  17786.160672  18449.846015  10402.442259
4         14485.193120  11347.018725  14451.023972  14933.260533
5          6978.973483   8965.795750  10115.441542   8444.158625

## Understanding Crosstab

It explains the frequency of occurrence of the categorical data we give as index.

In [ ]:
pd.crosstab(index = insurance_data.region,columns = insurance_data.sex,margins=True)

In [ ]:
pd.crosstab(index = insurance_data.sex,columns = insurance_data.children,margins=True)

In [ ]:
# groupby and pivot table - categories and numbers
# crosstab - categories --> It returns the number of occurences.